@charset "UTF-8";

// μ„Έν…
@import "src/assets/scss/setting/fonts.scss";
@import "src/assets/scss/setting/base.scss";
@import "src/assets/scss/setting/layout.scss";

// μ»¤λ¨Ό
@import "src/assets/scss/common/common.scss";
@import "src/assets/scss/common/loading.scss";

// section

@import "src/assets/scss/section/section1.scss";
@import "src/assets/scss/section/section2.scss";
@import "src/assets/scss/section/section3.scss";
@import "src/assets/scss/section/section4.scss";
@import "src/assets/scss/section/section6.scss";
@import "src/assets/scss/section/section7.scss";
