#section2 {
  margin-top: 100vh;
  padding: 30vh 0;
  position: relative;
  z-index: 1000;
  background: transparent;
  background-color: #3d3d3d29;
  backdrop-filter: blur(15px);
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 50px;
  width: 100%;
  overflow: hidden;
}
#section2 .sec2-img {
  width: 20%;
}
#section2 .sec2-img span {
  // justify-content: right;
  display: inline-block;
  width: 20vw;
  height: 20vw;
  background-image: url(https://kebab-portfolio.web.app/assets/myProfile-95623d94.jpeg);
  background-position: center top;
  background-size: cover;
  border-radius: 50%;
}
#section2 .sec2-text {
  width: 50%;
  font-size: 20px;
  font-family: "ChosunNm";
  color: #fff;
  white-space: pre;
  line-height: 1.4;
  margin-right: 70px;
}
@media (max-width: 480px) {
  #section2 {
    display: block;
    backdrop-filter: blur(15px);
  }
  #section2 .sec2-img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #section2 .sec2-img span {
    width: 75vw;
    height: 75vw;
    border-radius: 0;
  }
  #section2 .sec2-text {
    display: none;
  }
}
