#section3 {
  // overflow: hidden;
  width: 100%;
  background-color: #e5e5e5;
  padding: 30vh 0;
}

#section3 .sec-title {
  font-size: 10vw;
  font-family: "Poppins";
  line-height: 0.81;
  font-weight: 100;
  white-space: nowrap;
  margin-bottom: 30vh;
  // animation: pass1 50s linear infinite;
}
#section3 .sec-title > div:nth-child(1) {
  animation: pass1 50s linear infinite;
}
#section3 .sec-title > div:nth-child(2) {
  margin-left: -20vw;
  animation: pass2 50s linear infinite;
}
#section3 .sec-title > div:nth-child(3) {
  margin-left: -10vw;
  animation: pass3 50s linear infinite;
}
#section3 .sec-title > div em {
  font-weight: 900;
}

.sec-pin > div {
  width: 100%;
}
.sec-pin .sec3-section1 {
  background-color: #e5e5e5;
}
.sec-pin .sec3-section2 {
  background-color: #e5e5e5;
}
.sec-pin .sec3-section3 {
  background-color: #e5e5e5;
}
.sec-pin .sec3-section4 {
  background-color: #e5e5e5;
}
.sec-pin .sec3-section5 {
  background-color: #e5e5e5;
}
.sec-pin .sec3-section6 {
  background-color: #e5e5e5;
}

.sec-pin .box {
  border: 1px solid #000;
  border-radius: 30px;
  padding: 2vw;
  position: relative;
}
.sec-pin .box span {
  font-family: "Poppins";
  font-weight: 900;
  font-size: 30px;
  padding-bottom: 20px;
  display: inline-block;
}
.sec-pin .box h3 {
  font-size: 24px;
  font-family: "ChosunNm";
  margin-bottom: 10px;
}
.sec-pin .box p {
  font-size: 16px;
  line-height: 1.5;
  font-family: "ChosunNm";
  // padding-right: 15%;
  margin-bottom: 10px;
  background-color: #e5e5e5e4;
  border-radius: 10px;
  z-index: -100;
  position: relative;
}
.sec-pin .box .btn a {
  border: 1px solid #ff0000;
  font-family: "Poppins";
  font-size: 14px;
  color: #ff0000;
  padding: 3px 10px;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 5px;

  &:hover {
    background-color: #ff0000;
    color: #fff;
  }
}
.sec-pin .box .qr {
  display: inline-block;
  width: 130px;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px;
  margin-top: 70px;
}
.sec-pin .mockup {
  position: absolute;
  width: 40vw;
  z-index: -1;
}

.sec-pin .box1 {
  position: relative;
  left: 10%;
  top: 10%;
  width: 25vw;
}
.sec-pin .box1 .mockup1 {
  right: -23vw;
  bottom: -27vh;
}
// box2 시작
.sec-pin .box2 {
  position: relative;
  left: 60%;
  top: -50%;
  text-align: right;
}
.sec-pin .box2 p {
  font-size: 16px;
  line-height: 1.5;
  font-family: "ChosunNm";
  padding-right: 0%;
  padding-left: 10%;
  margin-bottom: 10px;
}
.sec-pin .box2 .qr2 {
  margin-left: 60%;
}
.sec-pin .box2 .mockup2 {
  right: 25%;
  bottom: -45%;
}

// box3

.sec-pin .box3 {
  position: relative;
  left: 10%;
  top: -120vh;
  width: 25vw;
}
.sec-pin .box3 p {
  margin-right: 10px;
}
.sec-pin .box3 .mockup3 {
  right: -23vw;
  bottom: -20vh;
}
.sec-pin .box3 .qr3 {
  margin-top: 30px;
}
// box4
.sec-pin .box4 {
  position: relative;
  left: 60%;
  top: -70vh;
  text-align: right;
}
.sec-pin .box4 p {
  font-size: 16px;
  line-height: 1.5;
  font-family: "ChosunNm";
  padding-right: 0%;
  padding-left: 20px;
  margin-bottom: 10px;
}
.sec-pin .box4 .qr4 {
  margin-left: 60%;
  margin-top: 15px;
}
.sec-pin .box4 .mockup4 {
  right: 25%;
  top: 30%;
}
// box5
.sec-pin .box5 {
  position: relative;
  left: 10%;
  top: -130vh;
  // text-align: right;
}
.sec-pin .box5 p {
  font-size: 16px;
  line-height: 1.5;
  font-family: "ChosunNm";
  // padding-right: 0%;
  padding-right: 20px;
  margin-bottom: 10px;
}
.sec-pin .box5 .qr5 {
  margin-top: 20px;
}
.sec-pin .box5 .mockup5 {
  left: 30%;
  top: 30%;
}

// box6
.sec-pin .box6 {
  position: relative;
  left: 60%;
  top: -70vh;
  text-align: right;
}
.sec-pin .box6 p {
  font-size: 16px;
  line-height: 1.5;
  font-family: "ChosunNm";
  padding-right: 0%;
  padding-left: 20px;
  margin-bottom: 10px;
}
.sec-pin .box6 .qr6 {
  margin-left: 60%;
  margin-top: 10px;
}
.sec-pin .box6 .mockup6 {
  right: 25%;
  top: 35%;
}

#section4 {
  width: 100%;
  height: 2000px;
  // background-color:red;
}
#section5 {
  width: 100%;
  height: 2000px;
  //   background-color: transparent;
  position: relative;
}

@keyframes pass1 {
  0% {
    transform: translate(-2vw);
  }
  to {
    transform: translate(-100vw);
  }
}
@keyframes pass2 {
  0% {
    transform: translate(-100vw);
  }
  to {
    transform: translate(-2vw);
  }
}
@keyframes pass3 {
  0% {
    transform: translate(-1vw);
  }
  to {
    transform: translate(-99vw);
  }
}
.scroll {
  position: fixed;
  bottom: 0;
  left: 100px;
  background-color: #eb0404;
  width: 100px;
  height: 50px;
  z-index: 9999;
  display: none;
}
@media (max-width: 480px) {
  #section5 {
    height: 150vh;
  }
  #section3 {
    padding: 10vh 0;
  }
  #section3 .sec-title {
    font-size: 25vw;
  }
  .sec-pin > div {
    height: 70vh !important;
  }
  .sec-pin .box {
    border: 1px solid #000;
    border-radius: 30px;
    padding: 2vw;
    position: relative;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 80%;
    height: 70%;
    text-align: left;
  }
  .sec-pin .box span {
    padding: 10px;
  }
  .sec-pin .box h3 {
    font-size: 4.2vw;
    font-family: "ChosunNm";
    margin-bottom: 5px;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .sec-pin .box p {
    font-size: 3.5vw;
    line-height: 1.4;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
  .sec-pin .box .btn {
    // display: flex;
    // justify-content: right;
    margin-left: 10px;
  }
  .sec-pin .box .btn a {
    border: 1px solid #ff0000;
    font-family: "Poppins";
    font-size: 14px;
    color: #ff0000;
    padding: 3px 10px;
    border-radius: 20px;
    display: inline-block;
  }
  .sec-pin .box .qr {
    display: inline-block;
    width: 24vw;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 0;
    margin-top: 5vh;
    padding: 0;
    margin-left: 15px;
  }
  .sec-pin .mockup {
    position: absolute;
    top: 55% !important;
    left: 30% !important;
    width: 65vw;
    z-index: -1;
  }
}
