.section7__wrap {
  width: 100vw;
  height: 100vh;
  background-color: #ffffffa7;
  //   background-color: transparent;
  display: flex;
  .section7__center {
    padding: 30px;
    width: 57%;
    margin-left: 20%;
    text-align: center;
    .section7__header {
      padding-top: 50px;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 100px;
      .section7__header__right {
        display: flex;
        justify-content: space-between;
        width: 15%;
        z-index: 9999;
      }
    }
    .thx1 {
      font-size: 9.5vw;
      font-weight: 100;
    }
    .thx2 {
      font-size: 9.5vw;
      font-weight: 100;
      padding-bottom: 9vh;
    }
    .contact {
      font-size: 9.2vw;
      font-weight: 100;
      border: 2px solid #000000;
      border-radius: 100px;
      &:hover {
        background-color: #000;
        color: #e5e5e5;
      }
    }
  }
  .section7__left {
    padding-top: 18px;
    width: 23%;
    padding-left: 10%;
    z-index: 9999;
    .works {
      display: inline-block;
      border: 1px solid #000;
      padding: 10px 20px;
      border-radius: 50px;
      background-color: #e5e5e5;

      &:hover {
        background-color: #000;
        color: #e5e5e5;
      }
    }
  }
}
@media (max-width: 480px) {
  #section7 {
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    .section7__center {
      margin: 0;
      padding: 30px;
      width: 100vw;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      font-family: 'Poppins';
      .section7__header {
        margin: 0;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // align-items: flex-end;
        padding-top: 50px;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Poppins';
        .section7__header__left {
          width: 100vw;
          display: inline-block;
          margin-bottom: 5px;
          font-size: 22px;
          font-family: 'Poppins';
          span {
            width: 100%;
            font-family: 'Poppins';
          }
        }
        .section7__header__right {
          display: none;
          font-family: 'Poppins';
        }
      }
      .section7__main {
        .div {
          font-weight: 100;
          font-family: 'Poppins';
        }
        .thx1 {
          font-size: 15vw;
          padding-bottom: 1vh;
          font-family: 'Poppins';
        }
        .thx2 {
          font-size: 15vw;
          padding-bottom: 9vh;
          font-family: 'Poppins';
        }
        .contact {
          font-size: 15vw;
          border: 1px solid #000000;
          border-radius: 100px;
          width: 80vw;
          padding: 20px 10px;
          font-family: 'Poppins';
          &:hover {
            background-color: #000;
            color: #e5e5e5;
          }
        }
      }
    }
  }
  .section7__left {
    display: none;
  }
}
